<html>
<head>
    <!-- Libraries -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js" defer></script>
    <script type="text/javascript" src="https://rawgithub.com/craftyjs/Crafty/release/dist/crafty-min.js" defer></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" defer></script>
    <script type="text/javascript" src="{{url_for('.static', filename='js/socket.js')}}" defer></script>
    <script type="text/javascript" src="{{url_for('.static', filename='js/game.js')}}" defer></script>

    <!-- Page stuff -->
    <link rel="shortcut icon" href=""/>
    <title>Steal the Bacon</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="dash" class="col-xs-2">
                <p id="username">Username: {{session.username}}</p>
                <p>Coordinates:</p>
                <p id="x"></p>
                <p id="y"></p>
            </div>
            <div class="col-xs-10">
                <!-- game div -->
                <div id="game"></div>
            </div>
        </div>
    </div>
</body>
</html>
