<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" defer></script>

    <!-- Page stuff -->
    <link rel="shortcut icon" href=""/>
    <title>Steal the Bacon Start</title>

    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            background-color: Cornsilk;
            padding-top: 100px;
            margin-bottom: 50px;
        }

        #theater {
            max-width: 500px;
            background-color: MediumSeaGreen;
        }
    </style>
</head>
<body>
    <!-- Body stuff -->
    <div id="theater" class="container">
        <h2>START</h2>
        <form method="POST">
            <!-- <div class="form-group">
                <label for="EMAIL">Sign up with a valid email</label>
                <input id="EMAIL" type="email" class="form-control"/>
            </div> -->
            <div class="form-group">
                <label for="username">Choose a username</label>
                <input type="text" name="username" class="form-control"/>
            </div>
            <!-- <div class="form-group">
                <label for="PASSWORD">Create a password</label>
                <input id="PASSWORD" type="password" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="password_confirm">Confirm your password</label>
                <input id="password_confirm" type="password" class="form-control"/>
            </div> -->
            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</body>
<footer>
    <!-- Footer stuff -->
</footer>
</html>
