<html>
<head>
    <!-- Libraries -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js" defer></script>
    <script type="text/javascript" src="https://rawgithub.com/craftyjs/Crafty/release/dist/crafty-min.js" defer></script>

    <!-- JavaScript -->
    <script type="text/javascript" src="{{url_for('.static', filename='js/socket.js')}}" defer></script>
    <script type="text/javascript" src="{{url_for('.static', filename='js/game.js')}}" defer></script>
</head>
<body>
    <!-- game div -->
    <div id="game"></div>
</body>
</html>
